{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<title>{% block title %}Welcome to mysite{% endblock %}</title>	
	<!--Let browser know website is optimized for mobile-->
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<!-- import google Icon Font -->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<!--Import materialize.css-->
	<link type="text/css" rel="stylesheet" href="{% static 'shorturl/css/materialize.min.css' %}"  media="screen,projection"/>
	<!-- Import custom css -->
	<link rel="stylesheet" type="text/css" href="{% static 'shorturl/css/custom.css' %}" />
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<!-- Import clipboard.js -->
	<script src="https://cdn.jsdelivr.net/npm/clipboard@1/dist/clipboard.min.js"></script>
	<!-- Import Javascript file for materialize -->
	<script type="text/javascript" src="{% static 'shorturl/js/materialize.min.js' %}"></script>
</head>
<script type="text/javascript">
	var clipboard;
	$(function() {
		$('#submitButton').click(function() {
			$.ajax({
				type: "POST",
				url: "/makeshort/",
				data: {
					'url' : $('#url').val(),
					'csrfmiddlewaretoken' : $("input[name=csrfmiddlewaretoken]").val()
				},
				success: returnSuccess,
				dataType: 'json'
			});
		});
	});

	function returnSuccess(data, textStatus, jqXHR) {
		if(data.url) {
			var url_result_html = "Your Shortened URL is : <a target=_blank href='"+data.url+"'>"+data.url+"</a>";
			url_result_html +=  "<button id='copy_btn' class='waves-effect waves-light btn right-align' value='"+data.url+"'> <img id='clipboard_img' src={% static 'shorturl/image/clippy.png' %} alt='Copy to clipboard' style='width:25px;height:25px;'></button>"
			$('#url-result').html(url_result_html);
			$('#url').val("");
			clipboard = new Clipboard('#copy_btn', {
 				text: function(trigger){
 					return $(trigger).val();
 				}		
 	 		});
 	 		$('#clear_btn').addClass('hide');
		} 
    else if(data.already_short) {
			// show pop up error message
			// Materialize.toast(message, displayLength, className, completeCallback);
			var toast_content = "Entered URL is already short.";
			Materialize.toast(toast_content, 3000, 'red lighten-1')
		} 
    else {
			$('#url-result').text("Do not submit blank.");
			clipboard.destroy(); 
		}

	}

	function show_clear_btn(){
		var url_text=$('#url').val();
		if (url_text != '' && $('#clear_btn').hasClass('hide')){
			$('#clear_btn').removeClass('hide');
		}
		else if(url_text == ''){
			$('#clear_btn').addClass('hide');
		}
	}

	function clear_url(){
		$('#url').val('');
		$('#clear_btn').addClass('hide');
	}
	
</script>
<body>
	<!-- navbar -->
	<nav>
		<div class="nav-wrapper row white grey-text">
			<div class="col s12">
				<a href="{% url 'shorturl:home' %}" class="brand-logo ">Url Shortener</a>
				<ul id="nav-mobile" class="right hide-on-med-and-down">
					<li><a href="https://github.com/modihere/url-shortener" target="blank" class="btn grey">Contribute</a></li>
				</ul>
			</div>
		</div>
	</nav>
	<!-- //navbar -->
	<div class="main">
			{% block content %}
			{% endblock %}
	</div>

	<!-- footer -->
	<footer class="page-footer white">
		<div class="row grey-text">
			<div class="col s4 m3 l2"> 
				<a href="https://gitter.im/url_shortener/Lobby" target="blank">Contact</a>
			</div>
		</div>
	</footer>
</body>
</html>