{% extends "shorturl/base.html" %}
{% load staticfiles %}
{% block title %}URL Shortner - Make your URL shorter!{% endblock %}
  
{% block content %}
<!-- input -->

<div class="input-section blue darken-2">
	<div class="container row">
		<div class="card url-input-container col s12">
			<input type="text" name="url" id="url" placeholder="Paste a link to shorten it, generates QR code too" autocomplete="off" spellcheck="false" class="url-input"  onkeydown = "if(event.keyCode == 13)document.getElementById('submitButton').click()" onkeyup="show_clear_btn();">
			<button id='clear_btn' class="url-submit btn btn-large white text-grey hide" onclick="clear_url();">X</button>
		</div>
		<div class="card url-input-container col s6 offset-m3">
			<input type="text" name="alias" id="alias" class="url-input" placeholder="Enter your alias (optional)" autocomplete="off" spellcheck="false" maxlength="10">
		</div>
		<div class="url-submit-container col s12">
			{% csrf_token %}
			<button id="submitButton" class="url-submit btn white text-grey">Shorten It</button>
		</div>

		<div class="url-output col l6 offset-l3 m8 offset-m2 s12 ">
			<div class="card horizontal grey lighten-4 ">
				<div class="card-image" style="padding: 10px 10px 5px 10px">
					<div id="qr-code"></div>
				</div>
				<div class="card-content valign-wrapper" id="url-result">
					Enter the URL above and click SHORTEN IT!
				</div>
				<a class="btn-floating halfway-fab waves-effect waves-light red disabled" id="clip_copy" title="Copy to clipboard">
					<i class="material-icons">content_copy</i>
				</a>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	document.getElementById('alias').onkeydown = function (event) {
  var event = event || window.event;  // get event object
  var key = event.keyCode || event.which; // get key cross-browser
  
  if (key == 32) { //Space bar key code
    //Prevent default action, which is inserting space
    if (event.preventDefault) event.preventDefault(); //normal browsers
    event.returnValue = false; //IE
  }
};
</script>

<!-- //input -->
<!-- Description -->
<div class="container row description-section text-center">
	<div class="section s12">
		<h3>Redefining URL</h3>
		<p>Cut your links, into MUCH shorter ones, Just one click to go..!!</p>
	</div>
	<div class="section col l4 m6 s12">
		<i class="small material-icons">insert_link</i>
		<h5>Shorten</h5>
		<p>Shorten your URL so it’s ready to be shared everywhere</p>
	</div>
	<div class="section col l4 m6 s12">
		<img src={% static 'shorturl/image/qr.svg' %} style='width:32px;height:32px;' />
		<h5>QR Code</h5>
		<p>Generates QR code for convenience and can be shared easily</p>
	</div>
	<div class="section col l4 m6 s12">
		<i class="small material-icons">people</i>
		<h5>Open Source</h5>
		<p>URL Shortener is free and open source</p>
	</div>
</div>
{% endblock %}