nav .nav-wrapper .col .brand-logo {
	color : #9e9e9e !important; /* grey */
}
/* to keep window full size and footer stick to bottom */
body{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
.main{
	flex: 1 0 auto;
}
.input-section{
	padding:30px;
	/*background-position: center;
	background-repeat: no-repeat;
	background-size: cover;*/
	background-image: url("../image/polygon_background.jpg");
}
.url-input{
	margin: 0 0 0 0 !important;
	color : #777 !important;
	padding:5px 15px !important;
	border-radius: 3px !important;
}
.url-submit{
	color : #2196f3 !important; /* blue */
	font-weight: bold;
}
.url-submit-container{
	margin-top:10px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}
@media only screen and (max-width: 1000px)
{
	.url-submit-container{
		margin-top: 1px;
	}
}
.card-content{
	padding:12px !important; 
}
.url-output{
	margin-top: 30px;
}
.description-section{
	margin-top:50px;
}
.text-center{
	text-align: center;
}
#clipboard_img{
	margin-top: 5px;
}
#copy_btn{
	position: absolute;
	top: 4px;
	right: 4px;
	padding: 0 0.3rem;
    background: #9FA4A9;
}
#clear_btn{
	margin-left: 9px;
	font-size:1.3em;
	position: absolute;
	right: 0px;
}
.url-input-container{
	display: flex;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: black;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: black;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: black;
}
